.img-boxed{
    width:100%;
    height:500px;
    object-fit:cover;

}

.box-250{
    width: 250px;
    height: 250px;
    object-fit:cover;
}
.box-400{
    width: 400px;
    height: 400px;
    object-fit:cover;

}
.box-500{
    width: 500px;
    height: 500px;
    object-fit:cover;

}
.box-600{
    width: 600px;
    height: 600px;
    object-fit:cover;
}

.scrollable-column{
    height:95%;
    position:absolute;
    overflow-y:scroll;
}
.fit-to{
    height: 100%;
    width: 100%;
    object-fit: cover;
}